*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "poppins", sans-serif;

}
body{
    background-color: #c9d6ff;
    background:linear-gradient(to right,#e2e2e2,c9d6ff)
}
.container{
    background: #fff;
    width:450px ;
    padding: 1.5rem;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0,0,1,0,9)
}
form{
    margin:0 2rem;
}
.form-title{ 
font-size:1.5rem;
font-weight: bold;
text-align: centre;
padding: 1.3rem ;
margin-bottom:0.4rem ;
}
input{
    color:inherit;
    width:100%;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #757575;
    padding-left:1.5rem;
    font-size:15px;
}
.input-group{
    padding:1% 0;
    position: relative;
}
.input-group i{
    position:absolute;
    colour

}